<div style="text-align: center;">
  <form [formGroup]="form">
    <div style="margin-bottom: 20px;">
      <input type="text" formControlName="userId" name="userId" placeholder="User id to suscribe">
      <input type="text" formControlName="simId" name="simId" placeholder="Sim id to subscribe">
      <input type="text" formControlName="message" name="message" placeholder="Message to send">
    </div>
    <input type="button" [disabled]="!form.value.userId || !form.value.simId || suscribed" value="Subscribe client" (click)="subscribeToChannel()">
    <input type="button" [disabled]="!form.value.userId || !form.value.simId ||suscribed" value="Check suscription" (click)="checkSubscription()">
    <input type="button" [disabled]="!suscribed" value="Unsuscribe client" (click)="unsubscribeToChannel()">
    <input type="button" [disabled]="form.invalid" value="Send message" (click)="sendMessage()">
  </form>
  <p>Recieved messages: {{messages}}</p>
</div>